<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Sample Spring MVC App </title>
    <link href="webjars/bootstrap/5.2.0/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        My App
    </a>

</nav>
<div class="container text-center" style="margin-top:100px">
    <div class="card card-body">
        <h1>Contact Me</h1>
        <br>
        <div class="card-columns">

            <div class="card-body">
                local:98080/sendMessage?name=2342&email=345
                <form method="post" th:action="@{/sendMessage}" th:object="${user1}" class="form-control">
                    <input id="name" placeholder="Enter Name" required type="text"
                           th:field="*{name}" class="form-control"/>
                    <br>
                    <input id="email" placeholder="Enter Email" required type="email"
                           th:field="*{email}" class="form-control"/>
                    <br>
                    <input id="message" placeholder="Enter Message or query" required type="text"
                           th:field="*{message}" class="form-control"/>
                    <br>
                    <input type="submit" value="Contact Me" class="form-control">
                </form>

            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>